/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  font-family: 'Poppins', sans-serif;
  margin: 0px;

}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MAIN CSS */


:root {

  --color--Orange: #DA722C;
  --color--WT: #e8f7fb;
  --color--LtBlue: #057ada;
  --color--DKBlue: #023047;
  --color--Blc: #070917;
  --color--Ppl: #6f7dfb;
}

.wrapper {
  max-width: 1134px;
  margin: 0 auto;
}

/* Buttons */
.btn {
  padding: 16px 32px;
  border-radius: 24px;
  color: var(--color--WT);
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}

.btn.dark {
  background: var(--color--DKBlue);
}

.btn.light {
  background: var(--color--Orange);
}

.btn.enrol-icon::before {
  content: url(/assets/svg/PencilAlt.svg);
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.btn.enrol-icon {
  padding-left: 60px;
}

/* Buttons */

/* Header */

header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  height: 100dvh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 36px;
  z-index: 100;

}

nav .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: var(--color--WT);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-family: "pound", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: var(--color--WT);
  text-decoration: none;
}

/* HERO SECTION */

.hero-section {

  display: flex;
  height: 100dvh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.hero-section .left {
  width: 457px;
}

.hero-section .left h1 {
  font-family: 'raleway', sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: var(--color--WT);
  margin-bottom: 30px;
}

.hero-section .left p {
  font-family: 'poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: var(--color--WT);
  margin-bottom: 30px;
}

.hero-section .right {
  align-self: flex-end;
}

.hero-section .right img {
  position: relative;
  height: 420px;
  vertical-align: middle;
}

/* ACHIEVEMENT CARDS */


.hero-cards {
  position: absolute;
}

.hero-cards .content {
  border-radius: 24px;
  background: var(--color--WT);
  padding: 8px 32px;
}

.hero-card .student-enrolled {
  left: 47%;
  top: 330px;
}

.hero-card h3 {
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  color: var(--color--DKBlue);
  text-align: center;
  margin: 0;
}

.hero-card p {
  font-family: 'poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: var(--color--DKBlue);
  margin: -8, 0 8px 0;
}

.hero-card .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100%);
  border-radius: 24px;
  top: 8px;
  left: 8px;
  z-index: 991;

}